<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading" jhiTranslate="fraudMgtApp.employee.home.createOrEditLabel">
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <!-- <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div> -->

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.employeeCode" for="field_employeeCode">Employee Code</label>
          <input
            type="text"
            class="form-control"
            name="employeeCode"
            id="field_employeeCode"
            data-cy="employeeCode"
            formControlName="employeeCode"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.genderType" for="field_genderType">Gender Type</label>
          <select class="form-control" name="genderType" formControlName="genderType" id="field_genderType" data-cy="genderType">
            <option [ngValue]="null">{{ 'fraudMgtApp.Gender.null' | translate }}</option>
            <option *ngFor="let gender of genderValues" [value]="gender">{{ 'fraudMgtApp.Gender.' + gender | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
          <div class="d-flex">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="datetime-local"
              class="form-control"
              name="dateOfBirth"
              formControlName="dateOfBirth"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.age" for="field_age">Age</label>
          <input type="number" class="form-control" name="age" id="field_age" data-cy="age" formControlName="age" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('email')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Email' }"
            >
              This field should follow pattern for Email.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.employeePicture" for="field_employeePicture">Employee Picture</label>
          <div>
            <img
              [src]="'data:' + editForm.get('employeePictureContentType')!.value + ';base64,' + editForm.get('employeePicture')!.value"
              style="max-height: 100px"
              *ngIf="editForm.get('employeePicture')!.value"
              alt="employee image"
            />
            <div *ngIf="editForm.get('employeePicture')!.value" class="form-text text-danger clearfix">
              <span class="pull-start"
                >{{ editForm.get('employeePictureContentType')!.value }}, {{ byteSize(editForm.get('employeePicture')!.value!) }}</span
              >
              <button
                type="button"
                (click)="clearInputImage('employeePicture', 'employeePictureContentType', 'file_employeePicture')"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_employeePicture"
              data-cy="employeePicture"
              (change)="setFileData($event, 'employeePicture', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="employeePicture"
            id="field_employeePicture"
            data-cy="employeePicture"
            formControlName="employeePicture"
          />
          <input
            type="hidden"
            class="form-control"
            name="employeePictureContentType"
            id="field_employeePictureContentType"
            formControlName="employeePictureContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user" [compareWith]="compareUser">
            <option [ngValue]="null"></option>
            <option [ngValue]="userOption" *ngFor="let userOption of usersSharedCollection">{{ userOption.login }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.director" for="field_director">Director</label>
          <select
            class="form-control"
            id="field_director"
            data-cy="director"
            name="director"
            formControlName="director"
            [compareWith]="compareDirector"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="directorOption" *ngFor="let directorOption of directorsSharedCollection">
              {{ directorOption.directorName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.manager" for="field_manager">Manager</label>
          <select
            class="form-control"
            id="field_manager"
            data-cy="manager"
            name="manager"
            formControlName="manager"
            [compareWith]="compareManagerial"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="managerialOption" *ngFor="let managerialOption of managerialsSharedCollection">
              {{ managerialOption.managerialName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.teamLead" for="field_teamLead">Team Lead</label>
          <select
            class="form-control"
            id="field_teamLead"
            data-cy="teamLead"
            name="teamLead"
            formControlName="teamLead"
            [compareWith]="compareTeamLead"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="teamLeadOption" *ngFor="let teamLeadOption of teamLeadsSharedCollection">
              {{ teamLeadOption.teamLeadName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fraudMgtApp.employee.team" for="field_team">Team</label>
          <select class="form-control" id="field_team" data-cy="team" name="team" formControlName="team" [compareWith]="compareTeam">
            <option [ngValue]="null"></option>
            <option [ngValue]="teamOption" *ngFor="let teamOption of teamsSharedCollection">{{ teamOption.teamName }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
