<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h2 class="mb-4">Report Fraud and Protect Your Business</h2>
      <p class="lead mb-5">Our secure and reliable platform allows you to report fraud and protect your business from financial losses and reputational damage.</p>
      <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a> -->
    </div>
    <div class="col-md-6">
            <img class="img-fluid reflect" src="/content/images/cbe-blg1.png" alt="Fraud Prevention">
    </div>
  </div>
</div>
<div class="bg-light">
  <div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title mb-4">Whistle Blower</h3>
            <p class="card-text mb-5">Report any suspicious behavior or activity anonymously and securely.</p>
            <a routerLink="whistle-blower-report" class="btn btn-primary">Report Now</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title mb-4">Tasks</h3>
            <p class="card-text mb-5">Manage your tasks and monitor their progress with our easy-to-use interface.</p>
            <a href="/task" class="btn btn-primary">View Tasks</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h3 class="card-title mb-4">User Guide</h3>
            <p class="card-text mb-5">Learn how to use our platform with our comprehensive user guide.</p>
            <a href="../content/pdf/CBE_Fraud_Management_System_User_Guide.pdf" class="btn btn-primary" target="_blank">Open Guide</a>
            <span>&nbsp;</span>
            <a href="../content/pdf/CBE_Fraud_Management_System_User_Guide.pdf" class="btn btn-primary" download>Download Guide</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Whistle Blower</h2>
          <p class="card-text">Report any suspicious behavior or activity anonymously and securely.</p>
          <a href="/whistle-blower-report" class="btn btn-primary" target="_blank">Report Now</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Tasks</h2>
          <p class="card-text">Manage your tasks and monitor their progress with our easy-to-use interface.</p>
          <a href="/task" class="btn btn-primary" target="_blank">View Tasks</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">User Guide</h2>
          <p class="card-text">Learn how to use our platform with our comprehensive user guide.</p>
          <a href="/content/pdf/St_Ambrose_of_Milan_Commentary_of_Saint_Ambrose_on_the_Gospel_according.pdf"
            class="btn btn-primary" target="_blank">Download Guide</a>
        </div>
      </div>
    </div>
  </div>
</div> -->